* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variáveis de cor, para realizar alterações
:root usado para declaração das variáveis*/
:root {
  --color-primary: #f4a261;
  --color-dark: #21190d;
  --color-light: #eaeaea;
  --color-white: #fff;
}

/*Barra de rolagem ficará mais suave*/
html {
  scroll-behavior: smooth;
  background-color: var(--color-light);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
}

header {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 1.5rem 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 1.5rem;
  font-size: 1.5rem;
}

nav li :hover {
  color: var(--color-white);
}

.hero {
  background-image: url(img/pexels-narda-yescas-1566837.jpg);
  background-size: cover;
  color: var(--color-white);
  min-height: 100vh;
  padding: 8rem;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 100;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/*Aplicará em todas as seções, menos na home*/
section:not(#home) {
  padding: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5rem;
}

p {
  font-size: 1.25rem;
  margin: 0.5rem;
}

.menu-list {
  list-style: none;
}

/*Estilizar todos os filhos diretos*/
.menu-list > li {
  background-color: var(--color-light);
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 1.5rem;
  height: 25rem;
  width: 28rem;
  text-align: left;
}

.menu-list img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  width: 100%;
}

#about {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

#contact {
  background-color: var(--color-dark);
  color: var(--color-white);
}
footer {
  background-color: var(--color-primary);
  color: var(--color-dark);
  padding: 2rem 0;
  text-align: center;
  padding: 0.1rem;
}
div p a {
  color: var(--color-white);
}
